@font-face {
    font-family: 'subset-Nagurigaki-Crayon';

    src:
        url('https://cdn.jsdelivr.net/gh/harimasnpublic/school-fonts@v1/fonts/subset-Nagurigaki-Crayon.woff2') format('woff2');

    font-weight: 400;

    font-style: normal;
}
